.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .logo {
    width: 150px; /* Adjust the width as needed */
    height: auto;
  }